.idea/
.project
*.sublime-project
*.sublime-workspace
*.tmproj
*.bak
*.swp
*~.nib
magento-v2/app/design/install/
magento-v2/app/etc/local.xml
magento-v2/app/etc/local.xml.additional
magento-v2/app/etc/local.xml.template
magento-v2/cron.php
magento-v2/cron.sh
magento-v2/downloader/
magento-v2/errors/
magento-v2/includes/
magento-v2/index.php
magento-v2/index.php.sample
magento-v2/install.php
magento-v2/LICENSE*
magento-v2/lib/Zend/
magento-v2/media/
magento-v2/var/
magento-v2/.htaccess
magento-v2/.htaccess.dist
magento-v2/.htaccess.sample
magento-v2/api.php
magento-v2/favicon.ico
magento-v2/get.php
magento-v2/js/
magento-v2/lib/
magento-v2/mage
magento-v2/shell/
magento-v2/pear/
magento-v2/php.ini.sample
magento-v2/pkginfo/
magento-v2/RELEASE_NOTES.txt
magento-v2/app/.htaccess
magento-v2/app/Mage.php
magento-v2/app/code/
magento-v2/app/design/adminhtml/
magento-v2/app/design/frontend/base/
magento-v2/app/design/frontend/default/
magento-v2/app/etc/
magento-v2/app/locale/
magento-v2/skin/adminhtml/
magento-v2/skin/frontend/base/
magento-v2/skin/frontend/default/
magento-v2/skin/install/